* {
  margin: 0 auto;
}

.header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  height: 65px;
  margin: 0;
  padding: 0;

  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-left: 7%;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;  
  display: flex;
  align-items: center;
}

.header-logo > img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
  transform: scaleX(-1);
}

.header-title {
  margin-right: 7%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

