* {
  margin: 0 auto;
}

.header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  height: 65px;
  margin: 0;
  padding: 0;

  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-left: 7%;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;  
  display: flex;
  align-items: center;
}

.header-logo > img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
  transform: scaleX(-1);
}

.header-title {
  margin-right: 7%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.input-fields {    
  margin-top: 2rem;
  height: 5rem;
  width: 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-fields > input {
  height: 35px;
  width: 275px;
  border-radius: 5px;
  padding-left: 0.5rem;
  border: 2px solid #ccc;
}

.generate-button {
  width: 70rem;
  display: flex;
  justify-content: center;
}

.generate-button > button {
  width: 60.2%;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;  
  color: #FFFFFF;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

  cursor: pointer;
}

.meme-img {
  position: relative;
  display: flex;
  justify-content: center;

  margin-top: 4rem;
}

.meme-img > img { 
  position: absolute;
  z-index: -1; 
  height: 500px;
  width: auto;
}

.meme-img > p {       
  font-family: 'Impact';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;  
  /* identical to box height */    
  color: #FFFFFF;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  letter-spacing: 3px;
}

.top-text {
  position: absolute;
  top: 20px;
  z-index: 2;   
}

.bottom-text {
  position: absolute;
  top: 450px;
  z-index: 2;  
}